upload/article/*
upload/goods/*
upload/order/*
upload/tags/*
upload/temp/*
upload/comments/*
upload/merchants/*
application/home/config/database.php
application/home/config/config.php
application/admin/config/database.php
application/admin/config/config.php
application/home/logs/*
application/admin/logs/*
application/home/cache/*
application/admin/cache/*
application/platform/config/database.php
application/platform/config/config.php
application/platform/logs/*
application/platform/cache/*